.App{
  padding: 50px;
  width: 100%;
  border: 1px solid blue;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.parent{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
}

.ant-upload.ant-upload-drag{
width: 70%;
margin: 20px;
}
.ant-upload-list.ant-upload-list-picture{
/* display: none; */
width: 40%;
margin: 20px;
}
.display_none{
    display: block;
}